/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.swapperbox {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid gray;
    margin: 20px;
    cursor: move;
    background: yellowgreen;
}
.swapperbox--large {
    width: 400px;
}

.swapper--over {
    border: 2px dashed gray;
}

.swapper--moving {
    opacity: 0.5;
}